{% extends "inicio.html" %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h3 class="mb-4">Servicios</h3>
            <p class="text-justify">Explora y disfruta de nuestros exclusivos servicios en Hotel Transilvania:</p>
            <ul class="list-unstyled">
                <li><strong>Bares Temáticos:</strong> Sumérgete en una experiencia única en nuestros bares temáticos, donde cada rincón está diseñado para transportarte a diferentes épocas y culturas.</li>
                <li><strong>Piscina y Spa:</strong> Relájate y rejuvenece en nuestra piscina al aire libre mientras disfrutas de las impresionantes vistas de los paisajes transilvanos. Después, déjate consentir en nuestro lujoso spa.</li>
                <li><strong>Centro Comercial:</strong> Explora un mundo de compras en nuestro exclusivo centro comercial, donde encontrarás una variedad de tiendas de lujo, boutiques exclusivas y opciones gastronómicas.</li>
                <li><strong>Parques y Bosques:</strong> Embárcate en una aventura al aire libre y explora nuestros parques y bosques circundantes. Con senderos escénicos y áreas de picnic, es el lugar perfecto para disfrutar de la naturaleza.</li>
                <li><strong>Cabañas Rústicas:</strong> Sumérgete en la tranquilidad de la naturaleza en nuestras acogedoras cabañas rústicas. Equipadas con todas las comodidades modernas, ofrecen un refugio sereno y cómodo.</li>
            </ul>
            <p class="text-justify">En Hotel Transilvania, nos enorgullecemos de ofrecer una experiencia completa que combina lujo, aventura y hospitalidad excepcional. Esperamos darte la bienvenida pronto y brindarte una estancia inolvidable en el corazón de Transilvania.</p>
        </div>
    </div>
</section>
{% include "gallery-services.html" %}
{% endblock %}


